/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "NOTDEF";

  src: url("./fonts/MFShangYaNoncommercial-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/MFShangYaNoncommercial-Regular.woff") format("woff"), /* Modern Browsers */
    url("./fonts/MFShangYaNoncommercial-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "KAIT";

  src: url("./fonts/MFShangYaNoncommercial-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/STKaiti.woff") format("woff"), /* Modern Browsers */
    url("./fonts/STKaiti.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}